// Place all the styles related to the public/addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.text_head {
    width: 0%;
}
.text_field {
    padding-left: 30px;
    justify-content: left;
}
